<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Profile</title>
</head>
<body>
    <h1>Customer Profile</h1>

    <!-- Display customer information -->
    <p>Name: {{ customer_info.first_name }} {{ customer_info.last_name }}</p>
    <p>Email: {{ customer_info.email }}</p>
    <!-- Add more fields as necessary -->

    <h2>Flight Management</h2>
    <div>
        <!-- Button to view future flights -->
        <a href="{{ url_for('myFlights') }}"><button>View Future Flights</button></a>
        <!-- Additional buttons for other functionalities will be added here -->
        <!-- Button to rate and comment on past flights -->
        <a href="{{ url_for('rateFlights') }}"><button>Rate and Comment on Past Flights</button></a>
    </div>

    <h2>Search for Flights</h2>
    <form action="{{ url_for('searchFlightsFromProfile') }}" method="get">
    <input type="text" name="depCity" placeholder="Departure City" required> <br>
    <input type="text" name="arrCity" placeholder="Arrival City" required> <br>
    Departure Date:<input type="date" name="depDate" required> <br>
    Return Date: <input type="date" name="retDate"> <br>
    
    Oneway Filter: <input type="submit" name="action" value="oneWay">
    Return Filter: <input type="submit" name="action" value="return">
</form>
   
<a href="{{ url_for('index') }}"><button>Back to Main Page</button></a>

</body>
</html>
